*.pyc
__pycache__/
*.sqlite3
.env
venv/
.pytest_chace/
db.sqlite3
/media/
/tests/
/logs/
/staticfiles/
pytest.ini
.DS_Store
.idea/
.vscode/.env
.vscode/
dockerfile
.dockerignore
docker-compose
/ssl/


