[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
amqp = "==5.3.1"
asgiref = "==3.8.1"
attrs = "==25.3.0"
autobahn = "==24.4.2"
automat = "==24.8.1"
billiard = "==4.2.1"
celery = "*"
certifi = "*"
cffi = "==1.17.1"
channels = "*"
charset-normalizer = "==3.4.1"
click = "==8.1.8"
click-didyoumean = "==0.3.1"
click-plugins = "==1.1.1"
click-repl = "==0.3.0"
colorama = "==0.4.6"
constantly = "==23.10.4"
cryptography = "==44.0.2"
daphne = "==4.1.2"
defusedxml = "==0.7.1"
django = "==5.1.7"
django-cors-headers = "*"
django-countries = "==7.6.1"
django-debug-toolbar = "*"
django-filter = "*"
django-templated-mail = "==1.1.1"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
djoser = "*"
drf-spectacular = "*"
h11 = "==0.14.0"
hyperlink = "==21.0.0"
idna = "==3.10"
incremental = "==24.7.2"
inflection = "==0.5.1"
jsonschema = "==4.23.0"
jsonschema-specifications = "==2024.10.1"
kombu = "==5.5.0"
oauthlib = "==3.2.2"
pillow = "==11.1.0"
prompt-toolkit = "==3.0.50"
psycopg = "*"
psycopg2-binary = "*"
pyasn1 = "==0.6.1"
pyasn1-modules = "==0.4.1"
pycparser = "==2.22"
pyjwt = "==2.9.0"
pyopenssl = "==25.0.0"
python-dateutil = "==2.9.0.post0"
python3-openid = "==3.2.0"
pyyaml = "==6.0.2"
redis = "*"
referencing = "==0.36.2"
requests = "==2.32.3"
requests-oauthlib = "==2.0.0"
rpds-py = "==0.23.1"
service-identity = "==24.2.0"
six = "==1.17.0"
social-auth-app-django = "==5.4.3"
social-auth-core = "==4.5.6"
sqlparse = "==0.5.3"
txaio = "==23.1.1"
typing-extensions = "==4.12.2"
tzdata = "==2025.1"
uritemplate = "==4.1.1"
urllib3 = "==2.3.0"
vine = "==5.1.0"
wcwidth = "==0.2.13"
websockets = "*"
"zope.interface" = "==7.2"
python-dotenv = "*"
pytest = "*"
pytest-django = "*"
pytest-factoryboy = "*"
pytest-mock = "*"
django-ratelimit = "*"
django-redis = "*"
flower = "*"
django-celery-beat = "*"
dj-database-url = "*"
dnspython = "*"
django-db-geventpool = "*"
psycogreen = "*"
cloudinary = "*"
django-cloudinary-storage = "*"
boto3 = "*"
django-storages = {extras = ["boto3"], version = "*"}
gunicorn = "*"
channels-redis = "*"
twisted = {extras = ["http2", "tls"], version = "*"}

[dev-packages]

[requires]
python_version = "3.12"
